ChooseMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-weight: 700;
    color: white;
    font-family: Uni Sans Heavy CAPS;
    text-overflow: ellipsis;
    pointer-events: all;

    .sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dark {
        background-color: rgba(0,0,0,0.2);
    }

    .panel {
        background-color: rgba(0,0,0,0.3);
        height: 700px;
        min-width: 1200px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        border-radius: 15px;

        > div {
            min-width: 400px;
            flex: 1;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            background-color: rgba(0,0,0,0.3);
            align-content: center;

            > .up {
                font-family: Uni Sans Heavy CAPS;
                border-radius: 15px;
                height: 100px;
                background-color: rgba(0,0,0,0.2);
                justify-content: center;
                align-items: center;
                font-size: 70px;
                font-weight: 100;
            }

            > .down {
                display: flex;
                gap: 10px;
                flex-direction: column;
                align-items: center;
                flex: 1;
                height: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                max-height: 100%;
                overflow-y: scroll;

                > .list-item {
                    margin-left: 10px;
                    margin-right: 10px;
                    min-height: 90px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-radius: 15px;
                    background-position-y: center;

                    > .time {
                        padding-left: 20px;
                        background-color: #000000BB;
                        font-weight: 700;
                        border-radius: 15px;
                        width: 100%;
                        height: 100%;
                        font-size: 30px;
                        font-family: Uni Sans Heavy CAPS;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
            }
        }

        > .mapinfo {
            margin-right: 10px;
            border-radius: 15px 15px 15px 15px;
            min-width: 400px;
            background-size: 100%;
            background-position-y: center;
            display: flex;
            flex-direction: column;


            > .header {
                height: 200px;
                border-radius: 15px 15px 0 0;
                width: 100%;
                background-color: #000000DD;
                flex: 52%;
                display: flex;
                flex-direction: row;


                > .text {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-left: 10px;
                    padding-top: 7px;

                    > div {
                        font-family: Uni Sans Heavy CAPS;
                        font-weight: 200;
                    }

                    > .name {
                        font-family: Uni Sans Heavy CAPS;
                        font-weight: 700;
                    }

                    > .btime {
                        width: 100%;
                    }
                }


                > .medal {
                    height: 100%;
                    width: 25%;
                    background-size: 83px 162px;
                    margin-right: 20px;
                    background-repeat: no-repeat;
                }
            }

            > .gradi {
                flex: 100%;
                width: 100%;
                background: linear-gradient(to bottom, #000000EF,#000000DD,#00000000,#00000000);
            }

            > .bot {
                width: 100%;
                height: 27%;
                padding-bottom: 20px;
                padding-left: 20px;
                padding-right: 20px;

                > .play {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.8);
                    border-radius: 40px;
                    justify-content: center;
                    align-items: center;
                    font-size: 70px;
                    padding-bottom: 5px;
                    font-weight: 100;

                    > p {
                        position: absolute;
                    }
                }
            }
        }

        > .left {
        }

        > .center {
            margin-left: 10px;
            margin-right: 10px;
        }

        > .right {

            .add {
                margin-top: 10px;
                width: 40%;
                justify-content: center;
                align-items: center;
                min-height: 70px;
                font-size: 40px;
                font-weight: 400;
                height: 70px;
                background-color: rgba(0,0,0,0.2);
                border-radius: 15px;
            }
        }
    }

    .bk {
        width: 100%;

        height: 100px;
        display: flex;
        flex-direction: row;
        min-height: 100px;
        justify-content: flex-end;

        > .back:hover {
            > .bg {
                background-color: rgba(0,0,0,0.60);
            }
        }

        > .back {
            width: 250px;
            height: 100px;
            margin-top:15px;
            margin-right:-5px;
            > .text {
                z-index: 10;
                position: absolute;
                align-self: center;
                width: 100%;
                margin-left: 60px;
                font-weight: 400;
                font-family: Uni Sans Heavy CAPS;
                color: #d9d7e0;
                font-size: 60px;
                z-index: 3;
            }

            > .bg {
                transform: skew(-26deg, 0deg);
                border-radius: 10px 0 10px 0;
                background-color: rgba(0,0,0,0.44);
                backdrop-filter: blur(0px);
                width: 100%;
                height: 100%;
            }
        }
    }
}
