EndScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 20px;
    pointer-events: all;
    font-family: Uni Sans Heavy CAPS;
    font-weight: 700;
    color: white;

    .panel {
        background-color: rgba(0,0,0,0.3);
        width: 800px;
        height: 600px;
        display: flex;
        flex-direction: row;
        padding: 10px;

        > .left {
            width: 470px;
            display: flex;
            flex-direction: column;

            > .score {
                height: 100%;
                display: flex;
                flex-direction: column;

                > .timer {
                    background-color: rgba(0,0,0,0.3);
                    display: flex;
                    flex: 0.4;
                    width: auto;
                    justify-content: center;
                    align-items: center;
                    font-family: Font;

                    > .time {
                        font-weight: 100;
                        font-size: 90px;
                    }

                    > .mil {
                        margin-top: 36px;
                        font-size: 50px;
                    }
                }

                > .trophy {
                    flex: 1;
                    margin-top: 10px;
                    background-color: rgba(0,0,0,0.3);
                    display: flex;
                    flex-direction: row;

                    > .times {
                        width: 100%;
                        padding-right: 25px;
                        display: flex;
                        flex-direction: column;

                        > div {
                            height: 100%;
                            margin-top: 10px;
                            background-color: rgba(0,0,0,0.2);
                        }
                    }

                    > .img {
                        width: 125px;
                        margin-right: 20px;
                        margin-bottom: 55px;
                        margin-top: 15px;

                        > img {
                        }
                    }
                }
            }

            > .name {
                margin-top: 10px;
                height: 70px;
                background-color: rgba(0,0,0,0.44);
                font-size: 45px;
                align-items: center;
                justify-content: center;
            }
        }

        > .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            > .up {
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;

                > .author {
                    font-size: 30px;
                    justify-content: center;
                    width: 100%;
                    padding: 6px 0 0 10px;
                    font-weight: 600;
                    background-color: rgba(0,0,0,0.44);
                }

                > .exit {
                    background-color: rgba(0,0,0,0.44);
                    margin-left: 10px;
                    width: 70px;
                    height: 100%;
                    font-size: 35px;
                    font-family: Poppins;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    > p {
                        color: white;
                    }
                }
            }

            > .down {
                flex: 1;
                flex-direction: column;
                height: 100%;
                background-color: rgba(0,0,0,0.3);
                max-height: 100%; /* Adjust height as needed */
                overflow-y: scroll; /* Enables vertical scrolling */

                > .list-item {
                    padding-left: 10px;
                    padding-bottom: 20px;
                    min-height:40px;
                    display: flex;
                    flex-direction: row;

                    > .count {
                        padding-top:5px;
                        font-weight: 200;
                        color: rgb(180,180,180);
                        width: 40px;
                        font-size:25px;
                    }

                    > .time {
                        width: 100%;
                        font-weight: 400;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
