EndScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 20px;
    pointer-events: all;
    font-family: Uni Sans Heavy CAPS;
    font-weight: 700;
    color: white;
    text-overflow: ellipsis;

    .panel {
        box-shadow: 1px 1px 15px #000000cc;
        background-color: rgba(0, 0, 0, 0.3);
        width: 1200px;
        height: 700px;
        display: flex;
        border-radius: 15px;
        flex-direction: row;
        padding: 10px;

        >.left {
            width: 60%;
            display: flex;
            flex-direction: column;

            >.score {
                height: 100%;
                display: flex;
                flex-direction: column;

                >.timer {
                    box-shadow: 1px 1px 15px #000000cc;
                    background-color: rgba(0, 0, 0, 0.3);
                    display: flex;
                    border-radius: 15px;
                    flex-direction: row;
                    height: 100%;
                    width: auto;
                    justify-content: center;
                    align-items: center;
                    font-family: Font;

                    >.time {
                        font-size: 140px;
                    }

                    >.mil {
                        margin-top: 90px;
                        font-size: 50px;
                    }

                    >.dif {
                        margin-bottom: 40px;
                        margin-left: -60px;
                        font-size: 25px;
                    }
                }

                >.trophy {
                    height: 800px;
                    margin-top: 10px;
                    border-radius: 15px;
                    background-color: rgba(0, 0, 0, 0.3);
                    box-shadow: 1px 1px 15px #000000cc;
                    display: flex;
                    flex-direction: row;

                    >.times {
                        width: 200%;
                        padding-right: 10px;
                        display: flex;
                        flex-direction: column;

                        >div {
                            border-radius: 15px 0 0 15px;
                            height: 100%;
                            justify-content: center;
                            padding-top: 20px;
                            font-size: 50px;
                            font-weight: 400;
                            color: rgb(180, 180, 180);

                            &.active {
                                background-color: rgba(0, 0, 0, 0.2);
                                color: white;
                            }
                        }
                    }

                    >.img {
                        background-color: rgba(0, 0, 0, 0.2);
                        width: 100%;
                        border-radius: 0 15px 15px 0;
                        height: 100%;
                        padding: 50px;
                        padding-top: 20px;
                        padding-bottom: 60px;
                    }
                }
            }

            >.name {
                margin-top: 10px;
                height: 75px;
                background-color: rgba(0, 0, 0, 0.44);
                font-size: 45px;
                box-shadow: 1px 1px 15px #000000cc;
                border-radius: 15px;
                align-items: center;
                justify-content: center;
            }
        }

        >.right {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            >.up {
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;

                >.author {
                    font-size: 30px;
                    justify-content: center;
                    width: 100%;
                    padding: 6px 0 0 10px;
                    font-weight: 600;
                    border-radius: 15px;
                    background-color: rgba(0, 0, 0, 0.44);
                    box-shadow: 1px 1px 15px #000000cc;
                }

                >.exit {
                    background-color: rgba(0, 0, 0, 0.44);
                    box-shadow: 1px 1px 15px #000000cc;
                    margin-left: 10px;
                    width: 70px;
                    height: 100%;
                    font-size: 35px;
                    font-family: Poppins;
                    display: flex;
                    justify-content: center;
                    border-radius: 15px;
                    align-items: center;

                    >p {
                        color: white;
                    }
                }
            }

            >.down {
                flex: 1;
                flex-direction: column;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                box-shadow: 1px 1px 15px #000000cc;
                max-height: 100%;
                overflow-y: scroll;

                border-radius: 15px;

                >.dark {
                    background-color: rgba(0, 0, 0, 0.2);
                }

                >.list-item {
                    padding-left: 10px;
                    min-height: 40px;
                    display: flex;
                    flex-direction: row;

                    >.count {
                        width: 50px;
                        padding-top: 5px;
                        font-weight: 200;
                        color: rgb(180, 180, 180);
                        font-size: 20px;
                    }

                    >.time {
                        margin-left: -50px;
                        font-weight: 400;
                        padding-top: 5px;
                        width: 100%;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}