IngameUI {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Signika Negative Light;
    font-weight:700;
    background-color: transparent;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    font-size:40px;
    color: #1e1e1e;

    > * {
        position: absolute;
    }
    .speed {
        bottom: 1.5%;
        text-align: center;
    }
    .speedVert {
        bottom: 5.5%;
        text-align: center;
        font-size: 30px;
    }
    .bot {
        width: 170px;
        text-align: center;
        bottom: 1.5%;
        left: 50%;

        .speedHor {
            padding-bottom: 2px;
            width: 3em;
            position: absolute;
            font-size: 30px;
            right: 0;
            bottom: 0;
        }
    }

    .timer {
        top: 1.5%;
        left: 1.5%;
        text-align: left;
    }

    .gain {
        bottom: 1.5%;
        right: 1.5%;
        text-align: left;
    }

    .info{
        bottom: 1.5%;
        left:1.5%;
        display:flex;
        color:transparent;
        transition: all 1s ease;
        display:flex;
        flex-direction:column;
        align-items:center;
        &.active{
            color:#1e1e1e; 
        }
    }

}
