MainMenu {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;

    .buttons {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        margin-top: 30%;
        margin-left: 3%;
        pointer-events: all;
        align-items: flex-start;
        gap: 20px;


        > div:hover {
            /*margin-left: 67px; */
            > .bg{
                background-color: rgba(0,0,0,0.4);
            }
        }

        > div {
            width: 500px;
            height: 100px;

            transition: all 0.02s ease;
            > .text {
                position: absolute;
                align-self: center;
                margin-left: 80px;
                font-family: Signika Negative;
                font-weight:600;
                color: #d9d7e0;
                font-size: 60px;
            }


            > .bg {
                transform: skew(-60deg, 0deg);
                border-radius: 10px 0 10px 0;
                background-color: rgba(0,0,0,0.3);
                backdrop-filter: blur(0px);
                width: 100%;
                height: 100%;
            }
        }
    }
}
