@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
<style>
.buttons{
display: flex;
    flex-direction: column;
    align-items: left;

    > div{
        
    }
}
.text{

}
.bg{

}
</style>
<root class="ui">
    <div class="buttons">
        <div class="play">
            <div class="text"></div>
            <div class="bg"></div>
        </div>
    </div>
</root>

@code
{
    public string gg { get; set; } = "";

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( gg);
}
