@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="ui">
    <div class="buttons">
        <div class="play" onclick=@controller.Play>
            <div class="bg"></div>
            <div class="text">Play</div>
        </div>
        <div class="choose">
            <div class="bg"></div>
            <div class="text">Choose Map</div>
        </div>
        <div class="options">
            <div class="bg"></div>
            <div class="text">Options</div>
        </div>
        <div class="quit">
            <div class="bg"></div>
            <div class="text">Quit</div>
        </div>
    </div>
</root>
@code
{
    MenuController controller;
    protected override void OnAwake(){
        controller = GameObject.Parent.Components.Get<MenuController>();
    }
}
