{
  "Actions": [
    {
      "Name": "Up",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Down",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement"
    },
    {
      "Name": "Camera1",
      "KeyboardCode": "end",
      "GamepadCode": "RightTrigger",
      "GroupName": "Camera"
    },
    {
      "Name": "Camera2",
      "KeyboardCode": "END",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Camera"
    },
    {
      "Name": "Restart",
      "KeyboardCode": "g",
      "GamepadCode": "X",
      "GroupName": "Other"
    },
    {
      "Name": "CameraCycle",
      "KeyboardCode": "tab",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Camera"
    },
    {
      "Name": "Sprint",
      "KeyboardCode": "SHIFT",
      "GamepadCode": "None",
      "GroupName": "Camera"
    },
    {
      "Name": "SelfDestruct",
      "KeyboardCode": "SPACE",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "FreeCamera",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Camera"
    },
    {
      "Name": "Back",
      "KeyboardCode": "b",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Attack1",
      "KeyboardCode": "MOUSE1",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Crouch",
      "KeyboardCode": "ctrl",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "HideUI",
      "KeyboardCode": "h",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "ShowInfo",
      "KeyboardCode": "x",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Load",
      "KeyboardCode": "1",
      "GamepadCode": "None",
      "GroupName": "SaveState"
    },
    {
      "Name": "Save",
      "KeyboardCode": "2",
      "GamepadCode": "None",
      "GroupName": "SaveState"
    },
    {
      "Name": "Next",
      "KeyboardCode": "3",
      "GamepadCode": "None",
      "GroupName": "SaveState"
    },
    {
      "Name": "Prev",
      "KeyboardCode": "4",
      "GamepadCode": "None",
      "GroupName": "SaveState"
    },
    {
      "Name": "First",
      "KeyboardCode": "5",
      "GamepadCode": "None",
      "GroupName": "SaveState"
    },
    {
      "Name": "Last",
      "KeyboardCode": "6",
      "GamepadCode": "None",
      "GroupName": "SaveState"
    },
    {
      "Name": "Remove",
      "KeyboardCode": "7",
      "GamepadCode": "None",
      "GroupName": "SaveState"
    },
    {
      "Name": "Wipe",
      "KeyboardCode": "8",
      "GamepadCode": "None",
      "GroupName": "SaveState"
    },
    {
      "Name": "Toggle",
      "KeyboardCode": "0",
      "GamepadCode": "None",
      "GroupName": "SaveState"
    },
    {
      "Name": "SoftRestart",
      "KeyboardCode": "r",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Quit",
      "KeyboardCode": "Q",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Test1",
      "KeyboardCode": "L",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "a9e66315-10cc-4419-9044-753cd6ddd758",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}